.btnProducto{
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    padding:0.5rem;
    margin:0.5rem;
    cursor: pointer;
    background: linear-gradient(to left, #bf1b27, #263d54);
    text-decoration: none;
}

.compra{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    background-color: rgb(238, 238, 238);
    margin: 2rem;
    padding: 2rem;
    border-radius: 2rem;
}

.subCompra{
    display:flex;
    flex-direction: column;
    border:#bbbbbb solid;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}

.sinProducto{
    display:flex;
    align-items: center;
    flex-direction: column;
}