.boton{
    background: linear-gradient(to left, #bf1b27, #263d54);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.boton:hover{
    background: linear-gradient(to left, #263d54, #bf1b27);
}
.link{
    list-style: none;
    text-decoration: none;
    color: white;
}