* {
  margin: 0;
  padding: 0; 

}

div{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around
}

input[type="text"]{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 25rem;
    outline: none;
    margin-right: 1rem;
}

body {
  border-top: solid 20px #263d54;
  border-bottom: solid 20px #bf1b27;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-style: solid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
